.sneakers-form{
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1.75rem;
  align-items: center;
  max-width: 1350px;
  padding: 0.65rem 0;

  .form-item-container{
    display: inline-flex;
    position: relative;
  }

  .container-buttons{
    justify-content: space-around;
  }

  .search{
    background-color: $blue-color;
  }

  .clear{
    background-color: #e4e3e3;
  }

  [data-role="gender"]{ grid-column: span 1 }
  [data-role="brand"]{ grid-column: span 1 }
  [data-role="sheaker-name"]{ grid-column: span 2 }
  [data-role="release-year"]{ grid-column: span 2 }
  [data-role="sku"]{ grid-column: span 2 }
  [data-role="color"]{ grid-column: span 1 }
  [data-role="buttons"]{ grid-column: span 2 }
}