@media( max-width: 1200px ) {
  .sneakers-form{
    max-height: calc( 100% - #{$height-mobile-navigation} );
    position: absolute;
    left: 0;
    top: $height-mobile-navigation;


    width: 100%;
    margin: 0;
    padding: 1rem 0.5rem;
    border-top: 1px solid $lightgrey-color;
    overflow: auto;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-row-gap: 1.5rem;
    align-items: flex-start;

    [data-role="logo"],
    [data-role="sheaker-name"],
    [data-role="release-year"],
    [data-role="sku"],
    [data-role="buttons"]{
      grid-column: span 1
    }

    .error-massage{
      bottom: initial;
      top: -1.2rem;
    }

    .container-buttons{
      justify-content: flex-end;
      padding-bottom: 0.5rem;
    }

    .search,
    .clear{
      width: 75px;
      height: 45px;
    }

    .clear{
      margin-right: 1.5rem;
    }

    .input,
    .select{
      @include border_radius( 3px );
      border: 1px solid $lightgrey-color;
    }
  }
}

@media( max-width: 860px ) {
  .sneakers-form{
    padding: 1rem 0.5rem;
  }
}