.sneakers-item{
  @extend .default-box-shadow;
  @include border_radius( 3px );
  cursor: pointer;
  padding: 1rem 0.7rem;
  background-color: #f3f1f1;
  display: inline-flex;
  flex-direction: column;
  transition: $default-animation-time background-color linear;

  &:focus,
  &.focus-visible:focus{
    background-color: #d0cfcf;
    outline: none;
  }

  &:hover{
    background-color: #e1e1e1;
  }

  &:hover .container-image,
  &:focus .container-image{
    border-color: transparent;
  }

  &:hover .img{
    transform: translateZ( 0 ) scale( 1.07 );
  }

  .title{
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
  }

  .container-image{
    width: 100%;
    height: 270px;
    margin: 1rem auto;
    display: flex;
    background: #FFF;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    position: relative;
    transition: $default-animation-time border-color linear;
    z-index: 0;
  }

  .img{
    width: 100%;
    object-fit: contain;
    transition: $default-animation-time linear;
  }

  .brand{
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .price{
    white-space: pre;
  }
}