$max-width: 1650px;
$height-mobile-navigation: 60px;
$height-desktop-navigation: 80px;
/* colors */
$warning-color: #e12e0e;
$lightgrey-color: lightgrey;
$outline-color: #03a9f4;
/* animation time */
$default-animation-time: 0.35s;