$max-width: 1750px;
$height-mobile-navigation: 60px;
$height-desktop-navigation: 80px;
$disabled-opacity: 0.5;
/* colors */
$default-black-color: #151515;
$warning-color: #e12e0e;
$lightgrey-color: lightgrey;
$outline-color: #03a9f4;
$link-color: #3f51b5;
$blue-color: #2196f3;
/* animation time */
$default-animation-time: 0.35s;